files:
  "/usr/local/bin/index_cron.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      export DATABASE_URL=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r .DATABASE_URL)
      export HSD_API_KEY=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r .HSD_API_KEY)
      export HSD_HOST=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r .HSD_HOST)
      export HSD_NETWORK=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r .HSD_NETWORK)
      node /var/app/current/src/indexer.js >> /var/log/index.cron.log

  "/tmp/index_chain":
    mode: "000644"
    owner: root
    group: root
    content: |
      */5 * * * * root /usr/local/bin/index_cron.sh

container_commands:
  create_logs_dir:
    command: touch /var/log/index.cron.log && chmod 777 /var/log/index.cron.log
    leader_only: true
  move_cron:
    command: mv /tmp/index_chain /etc/cron.d/index_chain
    leader_only: true
